<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Make My Foam</title>
    <link href="assets/css/global.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="shortcut icon" href="assets/images/favicon.ico" type="image/x-icon">
    <script src="assets/js/jquery.nice-select.min.js"></script>
</head>

<body class="inner-page">

    <!-- HEADER START -->
    <header class="header-main">
        <nav class="navbar navbar-expand-all fixed-top-head header-innerpage">
            <a class="navbar-brand" href="index.html">

                <img src="assets/images/logo.png" class="image" alt="logo">

            </a>
            <div class="ml-auto button-action ml-auto dropdown">
                <!-- <button class="btn-01 btn">Log In
                    <i class="fas fa-user"></i>
                </button> -->

                <button class="btn-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="fas fa-user"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">
                        <i class="far fa-user"></i>Your Account</a>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-shopping-bag"></i>Your Orders </a>
                    <a class="dropdown-item" href="#">
                        <i class="fa fa-heart"></i>Shortlist</a>
                    <!-- <span class="para-1-dropdown">If you are new user</span> -->
                    <div class="btn-inline d-flex flex-column">
                        <button class="   btn-link" data-toggle="modal" data-target="#exampleModalCenter1">Register </button>
                        <button class="btn-01 btn dropdown-login" data-toggle="modal" data-target="#exampleModalCenter">Log In</button>
                    </div>
                </div>
            </div>
            <a href="cart.html" class="cart-mobile">
                <span class="item-count">2</span>
                <i class="fas fa-shopping-cart"></i>
            </a>

            <button onclick="openNav()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <img src="assets/images/bars.png">
            </button>

        </nav>
    </header>
    <!-- HEADER END -->
    <section class="banner inner-banner">
        <div class="container">
            <!--<h2 class="inner-tiitle">Faq's</h2>-->
            <form class=" search-faq  ">
            <div class="row">
            	<div class="col-sm-3"></div>
            	<div class="col-sm-6">
            		<h2 class="inner-tiitle faqhead">Frequently Asked Questions</h2>
                <div class="input-group form-group chips-input mb-0 p-0">

                    <input type="text" class="inputText form-control faq" placeholder="Search for Questions. Topics, Payments, Returns Policy" aria-label="Username"
                        aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            	</div>
            	<div class="col-sm-3"></div>
            </div>
               
            </form>
        </div>
    </section>
    <section class="faq-section sec-pad size">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 tc-wrap">
                <p class="text-center tnc">Make My Foam Products manufactures and sells a full line of foundations (box springs) to go with your foam mattress purchase. Unlike other mattress stores we don't force you to purchase.</p>
                    <div class="heading-02">
                        <h3>Q: Does a foam mattress need a box spring?</h3>
                    </div>
                    <p class="text-center tnc">A: Typically modern spring based mattresses rely on box springs to get the added support they need within a bed frame. But Make My Foam mattresses aren’t typical. While we carry a full line of foundations to match our mattresses, if your bed frame is a solid base (wood or slats) you don’t need to lose any sleep over getting a new box spring.
</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: What are Make My Foam Mattresses made of?</h3>
                    </div>
                    <p class="text-center tnc">A: Each Make My Foam mattress is made of a combination of soy based high density polyurethane foam and memory foam, as well as Natural Talalay Latex Rubber Foam.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: What do you mean when you say ‘high density’?</h3>
                    </div>
                    <p class="text-center tnc">A: Density refers to weight, and so high density simply means more durable. It will last longer and keep its shape at the same time. It’s firmer than other foams. The higher the weight the longer the foam will keep its shape.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: Will Make My Foam products aggravate my allergies?
</h3>
                    </div>
                    <p class="text-center tnc">A: Bugs and dust mites like warm, open places inside mattresses. Foam mattresses don’t have the environment for bugs and dust mites to thrive in like spring mattresses do. All of our mattresses naturally have some degree of resistance to insects and allergens based on the composition of the foam. Our Natural Talalay Rubber Latex models are hypoallergenic and come with a choice of 2” or 4” of rubber at the top. We still recommend using a mattress protector as you would with any mattress.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: Are foam beds good for a bad back, hips, etc?</h3>
                    </div>
                    <p class="text-center tnc">A: Foam mattresses offer great support to relieve pain caused by pressure on certain points of the body. Bodies have many curves that a foam mattress can accommodate. For example when you lay on your side your spine should remain in its natural alignment, foam beds allow this as they mold to your shape.
</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: Are foam beds hot to sleep on?</h3>
                    </div>
                    <p class="text-center tnc">A: Foam has naturally insulating properties that can make foam mattresses (including memory foam) feel warmer than spring mattresses. Our newer foam products offer better air circulation and better response to changes in temperature. Sometimes switching to a foam mattress can take a few nights to get used to.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: What does ‘motion transfer’ mean?</h3>
                    </div>
                    <p class="text-center tnc">A: 'Motion transfer' is the movement you feel when your partner shifts in their sleep. Foam mattresses provide an independent sleeping surface that absorbs motion when your partner tosses and turns.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: What is the warranty on Make My Foam products?</h3>
                    </div>
                    <p class="text-center tnc">A: Your comfort and happiness is our guarantee! We offer a manufacturer's warranty on all our products. See the individual mattress descriptions for details on each model’s warranty.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: How do I care for my new foam product?</h3>
                    </div>
                    <p class="text-center tnc">A: All of our mattresses come with a removable, machine-washable cover, but it is still recommended to use a mattress protector. Foam mattresses do not need to be flipped or rotated and do not require a box spring as long as they are on top of a base with even support underneath.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: What is your return policy?</h3>
                    </div>
                    <p class="text-center tnc">A: Each Tangerine mattress is made to order, especially for you. This means that we’re unable to offer a trial period or sleep guarantee. For health reasons we cannot accept a returned mattress unless for a warranty or defect issue.</p>
                    <hr>
                    <div class="heading-02">
                        <h3>Q: Do foam mattresses have a smell?</h3>
                    </div>
                    <p class="text-center tnc">A: A newly manufactured memory foam mattress may have a slight odour when first unpacked. This is standard with all memory foam mattresses. We recommend airing out your new mattress in a well-ventilated room for 3-5 days. High density polyurethane and Natural Talalay Latex should not have any odours.</p>
                    
                    <p class="text-center tnc">Please feel free to contact us @ (780) 453-7997.<br>
Thanks!</p>
                    <hr>
                </div>
            </div>
            
        </div>
    </section>
    <footer class="footer footer-inner">
        <div class="container">
            <div class="row">
                <div class="f-custom-col col-01">
                    <div class="logo-footer">
                        <a href="index.html" class="footer-brand">
                            <img src="assets/images/logo.png" />
                        </a>
                        <p class="para-2 mt-2 abtus">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s,
                        </p>
                        <p class="contact-detail">
                            315 St Germain Ave Toronto ON M5M 1W4(Toronto ,Ontario)
                        </p>
                    </div>
                </div>
                <div class="f-custom-col col-02">
                    <h5 class="folloe-us"> By Use</h5>
                    <div class="row moble-50">
                        <ul class="col-sm-6  border-right">
                            <li>
                                <a class="anchorLink" href="#">RV
                                </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#x">Guitar</a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Bike </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Couch </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Chair </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#">Bar Stool</a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#x">Gym Table</a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Boat </a>
                            </li>
                        </ul>
                        <ul class="col-sm-6">
                            <li>
                                <a class="anchorLink" href="#" target="_self">Afghani Cushions </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Cushions </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Arab Cushions </a>
                            </li>
                            <li>
                                <a class="anchorLink" href="#" target="_self">Persian Cushions </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="f-custom-col col-03">
                    <h5 class="folloe-us">Type Of Foam</h5>
                    <ul>
                        <li>
                            <a class="anchorLink" href="#" target="_self">Polyurethane Foam</a>
                        </li>
                        <li>
                            <a class="anchorLink" href="#" target="_self">Memory Foam </a>
                        </li>
                        <li>
                            <a class="anchorLink" href="#" target="_self"> Latex Dunlop</a>
                        </li>
                    </ul>
                </div>
                <div class="f-custom-col col-04">
                    <div class="ac-gf-footer-legal">
                        <div class="social-footer">
                            <h5 class="folloe-us">Contact Us </h5>
                            <a href="#" class="contact-detail">
                                <img src="assets/images/phone.png"> +1 613-979-4537
                            </a>
                            <a href="#" class="contact-detail">
                                <img src="assets/images/email.png"> info@makemyfoam.com
                            </a>
                            <div class="social-menu">
                                <h5 class="folloe-us">Follow Us
                                </h5>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fab fa-google-plus-g"></i>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="fab fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="payment-option">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <div class="img-payment">
                            <img src="assets/images/payment-option.png"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ac-gf-footer-legal-copyright ">
            <div class="container">
                <div class="row no-gutters ">
                    <div class="col-sm-5 text-left">
                        <p> Copyright © 2018 Make My Foam All rights reserved</p>
                    </div>
                    <div class="col-sm-7 text-right links-footer">
                        <a href="#">
                            About Us
                        </a>
                        <a href="#">
                            Privacy Policy
                        </a>

                        <a href="#">
                            Terms & Conditions
                        </a>
                        <a href="#">
                            Support
                        </a>
                        <a href="#">
                            Site Map
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Login Modal -->
    <div class="modal fade login-modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login to Make My Foam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>


                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="email " class="inputText form-control" required="">
                                <label class="floating-label"> Email Here </label>
                            </div>
                        </div>
                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="password " class="inputText form-control" required="">
                                <label class="floating-label">Enter Password</label>
                            </div>
                        </div>
                        <div class="form-group  mb-2">

                            <button type="submit " class="btn btn-01 ml-auto w-100 text-center">Log In</button>
                        </div>

                        <div class="links-password">
                            <a href="# " class="para-1-dropdown">Recover Password</a>
                            <p class="">New to Make My Foam?
                                <a href="# " class="para-1-dropdown ml-auto">Create Account</a>
                            </p>
                        </div>

                        <div class="para-1-dropdown mt-4 text-center">
                            <span>Or Login Using</span>
                        </div>

                        <div class="form-group form-inline text-center btn-social my-3">
                            <a href="#" class="social-btn fb-btn">
                                <i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="#" class="social-btn ml-3 ggle-btn ">
                                <i class=" fab fa-google "></i> Google</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- SignUp Modal -->
    <div class="modal fade login-modal" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sign Up to Make My Foam</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="text" class="inputText form-control" required="">
                                <label class="floating-label">Full Name</label>
                            </div>
                        </div>
                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="number " class="inputText form-control" required="">
                                <label class="floating-label"> Mobile Number</label>
                            </div>
                        </div>

                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="email " class="inputText form-control" required="">
                                <label class="floating-label"> Email Here </label>
                            </div>
                        </div>
                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="password " class="inputText form-control" required="">
                                <label class="floating-label">Enter Password</label>
                            </div>
                        </div>


                        <div class="form-group chips-input ">
                            <div class="input-div">
                                <input type="text " class="inputText form-control" required="">
                                <label class="floating-label">Your Adress</label>
                            </div>
                        </div>


                        <div class="form-group  mb-2">

                            <button type="submit " class="btn btn-01 ml-auto w-100 text-center">Continue</button>
                        </div>


                        <div class="links-password">
                            <p class="">Already have an account?
                                <a href="# " class="para-1-dropdown ml-auto"> Login!</a>
                            </p>
                        </div>
                        <div class="para-1-dropdown mt-4 text-center">
                            <span>Or Continue Using</span>
                        </div>

                        <div class="form-group form-inline text-center btn-social my-3">
                            <a href="#" class="social-btn fb-btn">
                                <i class="fab fa-facebook-f"></i>Facebook</a>
                            <a href="#" class="social-btn ml-3 ggle-btn ">
                                <i class=" fab fa-google "></i> Google</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <script src="assets/js/3.1.1.jquery.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    <script>
        $(document).ready(function () {
            $(".list-icn").click(function () {

                $(".grid-view").toggleClass("list-full").css({ "flex": "100%", "max-width": "100%" });
            });
            $(".grid-icn").click(function () {

                $(".grid-view").removeClass("list-full").css({ "flex": "33.33%%", "max-width": "33.33%" });
            });
        });
    </script>
    <script>

        $(document).ready(function () {
            $('select').niceSelect();
        });


    </script>

    <script src="assets/js/3.1.1.jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <script src="assets/js/custom.js"></script>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/prism.js"></script>
    <script src="assets/js/bootstrap-tagsinput.js"></script>

    <script>
        $(document).ready(function () {
            $('select:not(.ignore)').niceSelect();
            FastClick.attach(document.body);
        });    
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64633646-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>